
{% extends 'monApp/base.html' %}
{% block menu %}
<h1>{{titremenu}}</h1>
{% endblock %}
{% block contenu %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom statut</th>
    </thead>
    <tbody>
        {% for stat in stt %}
        <tr>
            <td>{{ stat.idStatut }} </td>
            <td><a href="{% url 'dtl_stt' stat.idStatut %}">{{ stat.libelleStatut }}</a></td>
            <td>
                <a href="{% url 'dtl_stt' stat.idStatut %}" class="btn btn-primary mt-2">Détails</a>
                <a href="{% url 'stt-chng' stat.idStatut %}" class="btn btn-warning mt-2">Modifier</a>
                <a href="{% url 'dlt-stt' stat.idStatut %}" class="btn btn-danger mt-2">Supprimer</a>


            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}